:root {
    --primary-color: black;
    --secondary-color: whitesmoke;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    transition: all 200ms linear;
}

html.dark-mode {
    background-color: black;
    --primary-color: whitesmoke;
    --secondary-color: black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.clock-container {
    width: 14rem;
    aspect-ratio: 1/1;
    position: relative;
}

.pointer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.2rem;
    height: 6rem;
    background-color: rgb(141, 30, 30);
    border-radius: 1rem;
    transform-origin: bottom center;
}

.pointer.hour {
    background-color: red;
    transform: translate(-50%, -50%) rotate(0deg);
    transition: all 400ms linear;
}

.pointer.minute {
    transform: translate(-50%, -50%) rotate(30deg);
    transition: all 400ms linear;
}

.pointer.second {
    transform: translate(-50%, -50%) rotate(80deg);
    transition: all 400ms linear;
}

.clock-circle {
    position: absolute;
    top: 68%;
    left: 47%;
    width: 0.8rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: rgb(172, 34, 34);
}

.clock-info {
    text-align: center;
}

.clock-info span,
.clock-info h1 {
    color: var(--primary-color);
}

.mode-clock .dark-light__mode {
    padding: 0.5rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.mode-clock .dark-light__mode:active {
    transform: scale(0.98);
}